@font-face {
  font-family: 'Avenir-Regular';
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: local('AvenirNext'),
    url('../fonts/AvenirNextLTPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir-SemiBold';
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: local('AvenirNext'),
    url('../fonts/AvenirNextLTPro-Demi.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir-Bold';
  font-style: bold;
  font-weight: bold;
  font-display: fallback;
  src: local('AvenirNext'),
    url('../fonts/AvenirNextLTPro-Bold.otf') format('opentype');
}

.header {
  height: 50px;
}

.header .logo {
  height: 35px;
  width: auto;
}

img {
  max-height: 100%;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

button,
a {
  transition: 0.1s background ease-in-out, 0.1s border-color ease-in-out,
    0.1s color ease-in-out;
}

p {
  line-height: 1.5em;
  font-size: 16px;
  font-weight: 300;
}

.hero h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 2.5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
}

.cardImg {
  height: 90px;
  width: auto;
  margin-top: 18px;
}

input,
select {
  height: 36px;
}

.card {
  transition: 0.4s transform ease, 0.4s box-shadow ease;
  transform: scale(1);
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.card:hover {
  transform: scale(1.005) translateY(-2px);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}
