@font-face {
  font-family: 'Avenir-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNext'),
    url('../fonts/AvenirNextLTPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir-SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirNext'),
    url('../fonts/AvenirNextLTPro-Demi.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir-Bold';
  font-style: bold;
  font-weight: bold;
  src: local('AvenirNext'),
    url('../fonts/AvenirNextLTPro-Bold.otf') format('opentype');
}

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
@tailwind components;

/**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

/**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
@tailwind utilities;

/**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

.header {
  height: 50px;
}

.header .logo {
  height: 35px;
  width: auto;
}

img {
  max-height: 100%;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

button,
a {
  transition: 0.1s background ease-in-out, 0.1s border-color ease-in-out,
    0.1s color ease-in-out;
}

p {
  line-height: 1.5em;
  font-size: 16px;
  font-weight: 300;
}

.hero h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 2.5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
}

.cardImg {
  height: 90px;
  width: auto;
  margin-top: 18px;
}
